{% extends _layout %}

<twig:block name="body">
    {% apply markdown_email %}
        # Hey {{ user.username }},

        Sorry to hear that you are having difficulty logging into Devscast.
        We can help you log back into your account directly.

{#        {% if false and false is same as true %}#}
{#                    {% if _format == 'html' %}#}
{#            <twig:DashliteEmailQrCode#}
{#                    src="{{ qr_code_data_uri(event.link.url) }}"#}
{#                    title="Scanner le QRCode pour vous connecter ou utiliser le lien direct"#}
{#            />#}
{#        {% endif %}#}
{#        {% endif %}#}

        This link can be used to log into your Devscast account. We never ask for anything else.



        If you did not request this link when trying to log in or reset your password, simply ignore this email.

        This link will no longer be valid after **10 minutes**,

{#        <a href="{{ event.link.url }}" title="Login">Click Here to Log in</a>#}
        <twig:TalavEmailButton url="{{ event.link.url }}" title="Log In" :format="_format" />

        You can also <a rel="noopener" href="{{ url('talav_user_reset_request') }}" title="reset your Devscast password.">reset your password</a>.
    {% endapply %}
</twig:block>
