{# chart menu #}
{% from '@TalavWeb/macros/_icons.html.twig' import icon, dropdownItem %}
{% set id = 'dropdown_gallery' %}
<li class="nav-item dropdown">
    <button class="nav-link dropdown-toggle id="{{ id }}" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        {{- icon('images fa-fw me-2', 'index.photos', 'TalavWebBundle') -}}
    </button>
    <ul class="dropdown-menu" aria-labelledby="{{ id }}">
        <li>{{ dropdownItem(path('talav_gallery_index'), 'index.galleries', 'image far fa-fw me-2', 'TalavWebBundle') }}</li>
{#        <li>{{ dropdownItem(path('chart_by_state'), 'title_by_state', ICON_CALCULATION_STATE, 'chart') }}</li>#}
    </ul>
</li>
