{% extends '@TalavWeb/cards/card_edit_center.html.twig' %}
{% trans_default_domain 'TalavUserBundle' %}
{# parameters #}
{%- set title = 'security.login.title' -%}
{%- set title_description = 'security.login.description' -%}
{%- set title_description_domain = 'TalavUserBundle' -%}
{%- set title_icon = 'sign-in-alt fa-fw me-2' -%}
{%- set title_domain = 'TalavUserBundle' -%}
{%- set submit_text = 'security.login.submit' -%}
{%- set submit_domain = 'TalavUserBundle' -%}
{%- set cancel_path = false -%}
{# footer #}
{% block card_footer -%}
{{ parent() }}
<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
{% endblock %}
{# actions #}
{% block actions_form %}
{{ parent() }}
<a href="{{ path('app_forgot_password_request') }}" class="align-self-center" title="{{ 'resetting.request.description'|trans }}">{{ 'resetting.link'|trans }}</a>
                    {% if 'dev' == app_mode %}
{#                        <div class="d-flex align-items-center py-3 mb-0">#}
                            <hr class="w-100">
{#                        </div>#}
                        <div class="d-flex justify-content-between flex-wrap {# btn-group #}">
                            <button type="button" class="btn btn-secondary auto-connect d-block me-2" data-username="user" data-password="123456">User</button>
                            <button type="button" class="btn btn-secondary auto-connect d-block me-2" data-username="editor" data-password="123456">Editor</button>
                            <button type="button" class="btn btn-secondary auto-connect d-block me-2" data-username="admin" data-password="123456">Admin</button>
                            <button type="button" class="btn btn-secondary auto-connect d-block" data-username="root" data-password="123456">Root</button>
{#                            <button type="button" class="btn btn-primary-soft auto-connect btn-block" style="width:23%" data-username="dev" data-password="123456">Developer</button>#}
                            {#            <button type="button" class="btn btn-secondary auto-connect" data-username="archer@archers-caen.fr" data-password="Pwd123">Archer</button>#}
                            {#            <button type="button" class="btn btn-secondary auto-connect" data-username="editor@archers-caen.fr" data-password="Pwd123">Editor</button>#}
                            {#            <button type="button" class="btn btn-secondary auto-connect" data-username="admin@archers-caen.fr" data-password="Pwd123">Admin</button>#}
                            {#            <button type="button" class="btn btn-secondary auto-connect" data-username="dev@archers-caen.fr" data-password="Pwd123">Developer</button>#}
                        </div>

{#                        <div class="d-flex justify-content-between flex-wrap #}{# btn-group #}{#">#}
{#                            <button type="button" class="btn btn-primary-soft auto-connect col-3 me-1" data-username="user" data-password="123456">User</button>#}
{#                            <button type="button" class="btn btn-primary-soft auto-connect col-3 me-1" data-username="editor" data-password="123456">Editor</button>#}
{#                            <button type="button" class="btn btn-primary-soft auto-connect col-3 me-1" data-username="admin" data-password="123456">Admin</button>#}
{#                            <button type="button" class="btn btn-primary-soft auto-connect col-3" data-username="dev" data-password="123456">Developer</button>#}
{#                            #}{#            <button type="button" class="btn btn-secondary auto-connect" data-username="archer@archers-caen.fr" data-password="Pwd123">Archer</button>#}
{#                            #}{#            <button type="button" class="btn btn-secondary auto-connect" data-username="editor@archers-caen.fr" data-password="Pwd123">Editor</button>#}
{#                            #}{#            <button type="button" class="btn btn-secondary auto-connect" data-username="admin@archers-caen.fr" data-password="Pwd123">Admin</button>#}
{#                            #}{#            <button type="button" class="btn btn-secondary auto-connect" data-username="dev@archers-caen.fr" data-password="Pwd123">Developer</button>#}
{#                        </div>#}
                    {% endif %}

{% endblock %}
{# javascripts #}
{% block javascripts -%}
    {% if app.debug %}
<script>
    document.querySelectorAll('.auto-connect').forEach((element) => {
        element.addEventListener('click', (event) => {
            const target = event.currentTarget

            document.querySelector('#talav_type_user_user_login_username').value = target.dataset.username
            document.querySelector('#talav_type_user_user_login_password').value = target.dataset.password
        })
    })
</script>
    {% endif %}
{% if app.debug %}
{{ parent() }}
{{ asset_js('js/extensions/password-extensions.js') }}
{{ asset_js('js/application/user_recaptcha.js') }}
{{ asset_js('js/application/user_login.js') }}
{% else %}
{{ asset_js('js/user_login.js') }}
{%- endif %}
{% endblock %}
