{% extends '@TalavWeb/base.html.twig' %}
{# parameters #}
{%- set title = 'index.title' -%}

{%- set enabled = app.user ? app.user.enabled() : false -%}

{#{%- set enabled = app.user and app.user.enabled() -%}#}
{%- set show_navigation_search = enabled -%}
{# show body #}
{% block body -%}
    <div class="row">
        <aside class="col-lg-4 col-md-5 offset-xl-1 order-md-2 mb-5">
            <div class="card">
                <div class="card-header">
                    Menu
                </div>
                <ul class="list-group list-group-flush">
                    <a href="#" class="list-group-item list-group-item-action d-flex align-items-center">
                        <span><i class="fas fa-pager fa-fw me-2"></i></span>
                        Feed
                    </a>
                    <a href="#" class="list-group-item list-group-item-action d-flex align-items-center">
                        <span><i class="fas fa-comment fa-fw me-2"></i></span>
                        Messages<span class="badge rounded-pill bg-primary text-light ms-auto">1</span>
                    </a>
                    <a href="#" class="list-group-item list-group-item-action d-flex align-items-center">
                        <span><i class="fas fa-bell fa-fw me-2"></i></span>
                        Notifications<span class="badge rounded-pill bg-primary text-light ms-auto">3</span>
                    </a>
                </ul>
            </div>
        </aside>

        <div class="col-xl-7 col-lg-8 col-md-7 order-md-1 mb-5">
            <div class="card">
                <!-- Card header START -->
                <div class="card-header">
                    <h5 class="card-title h6 mb-0">Home</h5>
                </div>
                <!-- Card header END -->

                <!-- Card body START -->
                <div class="card-body">
                    Welcome...
                </div>
                <!-- Card body END -->

                {% if false %}
                    <!-- Card Footer START -->
                    <div class="card-footer">

                    </div>
                    <!-- Card Footer END -->
                {% endif %}
            </div>
        </div>
    </div>

    <div class="row">
        {% if enabled %}
            <div class="col">
                {% if false %}

                    <div class="card">
                        <!-- Card header START -->
                        <div class="card-header">
                            <h5 class="card-title h6 mb-0">Upload Avatar</h5>
                        </div>
                        <!-- Card header END -->

                        <!-- Card body START -->
                        <div class="card-body">
                            body
                        </div>
                        <!-- Card body END -->

                        <!-- Card Footer START -->
                        <div class="card-footer">
                            footer
                        </div>
                        <!-- Card Footer END -->
                    </div>
                {% endif %}
{#                {{- include('@TalavWeb/index/panel_calculation.html.twig') }}#}
{#                {% if user_service.panelState %}#}
{#                    {{ include('index/panel_state.html.twig') }}#}
{#                {% endif %}#}
{#                {% if user_service.panelMonth %}#}
{#                    {{ include('index/panel_month.html.twig') }}#}
{#                {% endif %}#}
{#                {% if user_service.panelCatalog %}#}
{#                    {{ include('index/panel_catalog.html.twig') }}#}
{#                {% endif %}#}
                {{ include('@TalavWeb/user/user_switch.html.twig') }}
            </div>
        {% elseif (app.user) %}
            <div class="col-md-8 offset-md-2 my-auto h-50">
                {{ include('@TalavWeb/index/panel_disabled.html.twig') }}
                {{ include('@TalavWeb/user/user_switch.html.twig') }}
            </div>
        {% endif %}
    </div>
{%- endblock %}
