{% extends '@TalavUser/notification/notification.html.twig' %}
{# content #}
{% block content %}
<container>
    <row>
        <columns>
            Hello <b>{{ username }}</b>,
        </columns>
    </row>
</container>
<container>
    <row>
        <columns>
            Thank you for logging into our app. We are very happy to have you among us.
        </columns>
    </row>
</container>
<container>
    <row>
        <columns>
            Please confirm your email address by clicking the button below.
        </columns>
    </row>
</container>
<container>
    <row>
        <columns>
            If you have any questions or encounter any problems, please do not hesitate to contact <a href="mailto:{{ mailer_user_email }}?subject={{ app_name_version }}">the support team</a>.
        </columns>
    </row>
</container>
<container>
    <row>
        <columns>
            <b>Notice :</b> This link expires in {{ expires_life_time }} (at {{ expires_date|locale_time('short') }}).
        </columns>
    </row>
</container>
<container>
    <row>
        <columns>
            Best regards,<br>
            {{ app_name }}
        </columns>
    </row>
</container>
{% endblock %}
