{% extends '@TalavAdmin/shared/layout/base.html.twig' %}
<twig:block name="title">Utilisateur {{ data.username }}</twig:block>

<twig:block name="header">
    <twig:TalavHeader :title='data.username'>
        <twig:block name="description">
            <ul class="list-inline">
                <li>Inscription : <span class="text-base">{{ data.createdAt | date }}</span></li>
            </ul>
        </twig:block>
        <twig:block name="content">
            <twig:TalavHeaderLinkButton name="Tous les utilisateurs" path="{{ path('admin_auth_user_index') }}" icon="arrow-long-left" />
            <twig:TalavHeaderLinkButton name="Éditer" path="{{ path('admin_auth_user_edit', {id: data.id}) }}" icon="edit-alt-fill" />
            <twig:TalavDeleteButton id="{{ data.id }}" path="{{ path('admin_auth_user_delete', {id: data.id}) }}" :item="data" redirect="{{ path('admin_auth_user_index') }}" type="button" />
        </twig:block>
    </twig:TalavHeader>
</twig:block>

<twig:block name="content">
    <twig:TalavAsideCard>
        <twig:block name="tabs">
            <ul class="nav nav-tabs nav-tabs-mb-icon nav-tabs-card">
                <li class="nav-item">
                    <a class="nav-link active" href="#">
                        <twig:TalavIcon name="user-circle" />
                        <span>Personal</span>
                    </a>
                </li>
                <li class="nav-item"><a class="nav-link" href="#">
                        <twig:TalavIcon name="repeat" />
                        <span>Contenus</span>
                    </a>
                </li>
                <li class="nav-item"><a class="nav-link" href="#">
                        <twig:TalavIcon name="repeat" />
                        <span>Transactions</span>
                    </a>
                </li>
                <li class="nav-item nav-item-trigger d-xxl-none">
                    <a href="#" class="toggle btn btn-icon btn-trigger" data-target="userAside">
                        <twig:TalavIcon name="user-list-fill" />
                    </a>
                </li>
            </ul>
        </twig:block>

        <twig:block name="content">
            <div class="nk-block">
                <twig:TalavDataList title="Informations personnelles" :description="data.profile.bio">
                    <twig:TalavDataItem label="Full Name" :value="data.profile.firstName ~ ' ' ~ data.profile.lastName" />
                    <twig:TalavDataItem label="Username" :value="data.username" />
                    <twig:TalavDataItem label="Email" :value="data.email" />
                    <twig:TalavDataItem label="Genre" :value="data.profile.gender.value | trans([], 'enums')" />
{#                    <twig:TalavDataItem label="Pays" :value="data.country | flag" />#}
                    <twig:TalavDataItem label="Role" :value="data.roles | last | badge " />
                </twig:TalavDataList>
                <div class="nk-divider divider md"></div>
                <twig:TalavDataList title="Informations supplémentaires">
                    <twig:TalavDataItem label="Bannis" :value="data.banned | boolean" />
                    <twig:TalavDataItem label="Email vérifié" :value="data.verified | boolean" />
{#                    <twig:TalavDataItem label="Newsletter" :value="data.isSubscribedNewsletter | boolean" />#}
{#                    <twig:TalavDataItem label="2FA activé" :value="data.twoFactorEnabled | boolean" />#}
                    <twig:TalavDataItem label="Date de bannissement" :value="data.bannedAt ? data.bannedAt | date : '-'" />
                </twig:TalavDataList>
            </div>
        </twig:block>

        <twig:block name="aside">
            <div class="card-aside card-aside-right user-aside toggle-slide toggle-slide-right toggle-break-xxl toggle-screen-xxl" data-content="userAside" data-toggle-screen="xxl" data-toggle-overlay="false" data-toggle-body="false">
                <div class="card-inner-group">
                    <div class="card-inner">
                        <div class="user-card user-card-s2">
                            <div class="user-avatar lg bg-primary">
                                {% if data.avatar %}
                                    <img src="{{ media_thumb_reference( data.avatar, 'square_small') }}" alt="avatar {{ data.username }}">
                                {% else %}
                                    <span>{{ data.username }} {{ asset('images/avatar.png') }}</span>
                                {% endif %}
                            </div>
                            <div class="user-info">
                                <div class="badge bg-outline-light rounded-pill ucap">{{ data.roles | last | trans([], 'messages') }}</div>
                                <h5>{{ data.username }}</h5>
                                <span class="sub-text">{{ data.email }}</span>
                            </div>
                        </div>
                    </div>
                    <div class="card-inner card-inner-sm">
                        <ul class="btn-toolbar justify-center gx-1">
                            <li>
                                {% if not data.banned %}
                                    <button
                                        class="text-soft btn btn-icon btn-trigger"
                                        is="app-action-button"
                                        endpoint="{{ path('admin_auth_user_ban', {id: data.id}) }}"
                                        redirect="{{ path('admin_auth_user_show', {id: data.id}) }}"
                                        title="{{ 'global.ban' | trans([], 'messages') }}"
                                    >
                                        <twig:TalavIcon name="shield" />
                                    </button>
                                {% else %}
                                    <button
                                        class="text-soft btn btn-icon btn-trigger"
                                        is="app-action-button"
                                        endpoint="{{ path('admin_auth_user_unban', {id: data.id}) }}"
                                        redirect="{{ path('admin_auth_user_show', {id: data.id}) }}"
                                        title="{{ 'global.unban' | trans([], 'messages') }}"
                                    >
                                        <twig:TalavIcon name="shield-off" />
                                    </button>
                                {% endif %}
                            </li>
                            <li><a href="{{ path('admin_auth_user_email', {id: data.id}) }}" class="btn text-soft btn-trigger btn-icon"><twig:TalavIcon name="mail"/></a></li>
                        </ul>
                    </div>
                    <div class="card-inner"><h6 class="overline-title-alt mb-2">Additional</h6>
                        <div class="row g-3">
                            <div class="col-6">
                                <span class="sub-text">Last Ip:</span>
                                <span>{{ data.lastLoginIp }}</span>
                            </div>
                            <div class="col-6">
                                <span class="sub-text">Last Login:</span>
                                <span>{{ data.lastLoginAt ? data.lastLoginAt | date : '-' }}</span>
                            </div>
                            <div class="col-6">
                                <span class="sub-text">Account Status:</span>
                                {% if data.enabled %}
                                    <span class="lead-text text-success">enabled</span>
                                {% else %}
                                    <span class="lead-text text-danger">disabled</span>
                                {% endif %}
                            </div>
                            <div class="col-6">
                                <span class="sub-text">Register At:</span>
                                <span>{{ data.createdAt | date }}</span>
                            </div>
                        </div>
                    </div>
                    <div class="card-inner"><h6 class="overline-title-alt mb-3">Rôles</h6>
                        <ul class="g-1">
                            {% for role in data.roles %}
                                <li class="btn-group">
                                    <a class="btn btn-xs btn-info btn-dim" href="#">{{ role | trans([], 'messages') }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="card-inner"><h6 class="overline-title-alt mb-3">Technologies</h6>
                        <ul class="g-1"></ul>
                    </div>
                </div>
            </div>
        </twig:block>
    </twig:TalavAsideCard>
</twig:block>
