{% extends '@TalavWeb/layouts/default.html.twig' %}

{% trans_default_domain 'TalavGalleryBundle' %}

{%- block titre '' -%}

{% block stylesheets %}
{{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ asset('js/vendor/glightbox-master/dist/css/glightbox.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('js/vendor/dropzone/dist/min/dropzone.min.css') }}" />

{% endblock %}

{% block header %}
    <div class="page-title-overlap bg-body-tertiary pt-4 mt-n4 shadow-sm">
        <div class="container d-lg-flex justify-content-between py-2 py-lg-3">
            <div class="order-lg-2 mb-3 mb-lg-0 pt-lg-2">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb breadcrumb-light flex-lg-nowrap justify-content-center justify-content-lg-start">
                        <li class="breadcrumb-item"><a class="text-nowrap" href="index.html"><i class="ci-home"></i>Home</a></li>
                        <li class="breadcrumb-item text-nowrap"><a href="home-nft.html">Marketplace</a>
                        </li>
                        <li class="breadcrumb-item text-nowrap active" aria-current="page">Vendor Page</li>
                    </ol>
                </nav>
            </div>
            <div class="order-lg-1 pe-lg-4 text-center text-lg-start">
                <h1 class="h3 text-light mb-0">Vendor Page</h1>
            </div>
        </div>
    </div>
{% endblock header %}

{% block body %}
    <style>
        .position-absolute {
            position: absolute!important;
        }
    </style>
    <style type="text/css">
		.img-content-overlay {
			position: relative;
			background-position: center center;
			background-size: cover;
		}
		.img-content-caption > p {
			margin-bottom: 0;
		}
		.img-content-caption {
			color: #fff;
		}
		.img-content-overlay .img-content-caption {
			position: absolute;
			bottom: 1rem;
			padding: 1rem;
			left: 0;
			right: 0;
			background: rgb(15,36,57,.8);
		}
		.img-content-overlay-light .img-content-caption {
			color: #0f2439;
		}
		.img-content-overlay-light .img-content-caption {
			position: absolute;
			background: rgb(255,255,255,.9);
		}
        .elem-opacity:hover {
            opacity: 1.0;
            filter: alpha(opacity=50); /* For IE8 and earlier */
        }
        .elem-opacity {
            opacity: .7;
            filter: alpha(opacity=100); /* For IE8 and earlier */
        }

    </style>
    <!-- Title -->
    <div class="row">
        <div class="col-12 mb-4 mb-sm-5">
            <div class="d-sm-flex justify-content-between align-items-center">
                <h1 class="h3 mb-2 mb-sm-0">{{ gallery.name }} - #{{ gallery.images|length }} Items</h1>
                <div class="d-flex justify-content-end">
                    {% if is_granted('GALLERY_EDIT', gallery) %}
                        <a href="{{ url('talav_gallery_edit', {'id': gallery.id}) }}" class="btn btn-sm btn-dark me-2"><i class="fas fa-edit fa-fw">&nbsp;</i>{{ 'talav.gallery.edit.link'|trans }}</a>
                    {% endif %}
                    {% if is_granted('IMAGE_CREATE') %}
                        <a href="{{ url('talav_gallery_image_create', {'id': gallery.id}) }}" class="btn btn-sm btn-dark mb-0"><i class="fas fa-plus fa-fw">&nbsp;</i>{{ 'talav.gallery.image.create.link'|trans }}</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    <div class="row g-3">
        <div class="col-lg-8 vstack gap-4">
            <div class="card">
                <div class="card-header d-sm-flex align-items-center justify-content-between border border-bottom-1 py-3">
                    <h5 class="card-title mb-0">{{ gallery.name }} - {{ gallery.images|length }} Items</h5>

                    <!-- Button modal -->
                    <div class="">
                        {% if is_granted('GALLERY_EDIT', gallery) %}
                            <a href="{{ url('talav_gallery_edit', {'id': gallery.id}) }}" class="btn btn-sm btn-primary-soft me-2"><i class="fas fa-edit fa-fw">&nbsp;</i>{{ 'talav.gallery.edit.link'|trans }}</a>
                        {% endif %}
                        {% if is_granted('IMAGE_CREATE') %}
                            <a href="{{ url('talav_gallery_image_create', {'id': gallery.id}) }}" class="btn btn-sm btn-primary-soft mb-0"><i class="fas fa-plus fa-fw">&nbsp;</i>{{ 'talav.gallery.image.create.link'|trans }}</a>
                        {% endif %}
                    </div>
{#                    <a class="btn btn-sm btn-primary-soft" href="#" data-bs-toggle="modal" data-bs-target="#modalCreateAlbum"> <i class="fa-solid fa-plus pe-1"></i> Create album</a>#}
                </div>

                <div class="card-body">
                    <div class="row g-3">
                        {% for image in galleryImages %}
                            <!-- Photo item START -->
                            <div class="col-6 col-lg-3 position-relative img-content-overlay">

                                <div class="position-absolute top-0 end-0">
                                    <!-- Dropdown START -->
                                    <div class="dropdown mt-2 me-3">
                                        <a href="#" class="icon-sm bg-primary text-white rounded-circle" id="photoActionEdit" data-bs-toggle="dropdown" aria-expanded="false">
                                            <i class="fas fa-pencil"></i>
                                        </a>

                                        <!-- Dropdown menu -->
                                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="photoActionEdit">
                                            {% if is_granted('IMAGE_DELETE', image) %}
                                                <li><a class="dropdown-item" href="#"><i class="fas fa-remove fa-fw pe-1"></i>Delete</a></li>
                                            {% endif %}
                                            {% if is_granted('COMMENT_LIST', image) %}
                                                <li><a class="dropdown-item" href="#"><i class="fas fa-comment fa-fw pe-1"></i>View Comments</a></li>
                                            {% endif %}
                                            <li><hr class="dropdown-divider"></li>
                                            <li><a class="dropdown-item" href="#"><i class="fas fa-flag fa-fw pe-1"></i>Report photo</a></li>
                                        </ul>
                                    </div>
                                </div>

                                <!-- Dropdown END -->
                                <a href="{{ path('talav_gallery_image_view', {'id': image.id}) }}" data-gallery="image-popup" data-glightbox="description: .custom-desc2; descPosition: left;" class=" d-flex align-content-bottom">
                                    <img class="rounded img-fluid" src="{{ asset(image.image.filePath) |imagine_filter('gallery_thumb') }}" alt="{{ image.title }}">

                                    <div class="img-content-caption rounded-bottom bottom-0 mx-2 p-2 elem-opacity">
                                        <p class="small text-white opacity-100">{{ image.title|truncate(20)|raw }}</p>
                                    </div>
                                </a>
                            </div>
                            <!-- Photo item END -->
                        {% else %}
                            <div class="alert alert-primary" role="alert">
                                {{ 'talav.gallery.message.empty_list'|trans }}
                            </div>
                        {% endfor %}

                    </div>
                </div>

                <div class="card-footer py-3">
                    {{ pagerfanta(galleryImages) }}
                </div>
            </div>

        </div>
        <div class="col-lg-4">
            sidebar
        </div>
    </div>

    <div class="row g-3">

    </div>

{% endblock %}

{% block js %}
{{ parent() }}
    <script src="{{ asset('js/vendor/glightbox-master/dist/js/glightbox.min.js') }}"></script>
    <script src="{{ asset('js/vendor/dropzone/dist/min/dropzone.min.js') }}"></script>

{% endblock %}
