{% extends '@TalavWeb/layouts/default.html.twig' %}

{% trans_default_domain 'TalavGalleryBundle' %}

{% block titre %}
    Galeria: {{ gallery.name }}
{% endblock %}

{% block body %}
    <!-- Title -->
    <div class="row">
        <div class="col-12 mb-4 mb-sm-5">
            <div class="d-sm-flex justify-content-between align-items-center">
                <h1 class="h3 mb-2 mb-sm-0">{{ gallery.name }}</h1>
                <div class="d-flex justify-content-end">
                {% if is_granted('GALLERY_EDIT', gallery) %}
                    <a href="{{ url('talav_gallery_edit', {'id': gallery.id}) }}" class="btn btn-sm btn-outline-primary me-2"><i class="fas fa-edit fa-fw">&nbsp;</i>{{ 'talav.gallery.edit.link'|trans }}</a>
                {% endif %}
                {% if is_granted('IMAGE_CREATE') %}
                    <a href="{{ url('talav_gallery_image_create', {'id': gallery.id}) }}" class="btn btn-sm btn-outline-primary mb-0"><i class="fas fa-plus fa-fw">&nbsp;</i>{{ 'talav.gallery.image.create.link'|trans }}</a>
                {% endif %}
                </div>
            </div>
        </div>
    </div>

    <div class="row">
    <div class="col-md-8">

    {% if galleryImages is defined and galleryImages|length > 0 %}

        <div class="navigation text-center">
            {{ pagerfanta(galleryImages) }}
{#            {{ knp_pagination_render(imagesPagination) }}#}
        </div>

        {% for image in galleryImages %}
            <div class="image_preview">
                <h3>{{ image.title }}</h3>
                <p>{{ image.description }}</p>
                <img width="100%" src="{{ image.path }}" alt="{{ image.title }}"/>
                {% if is_granted('IMAGE_DELETE', image) %}
                    <a href="{{ url('talav_gallery_image_delete', {'id': image.id}) }}">Usuń obrazek</a>
                {% endif %}
                {% if is_granted('COMMENT_LIST', image) %}
                    <a href="{{ url('talav_gallery_comment_list', {'id': image.id}) }}">Komentarze</a>
                {% endif %}
{#                {% for comment in image.comments %}#}
{#                    <div style="border: 1px solid black; margin: 0.5em; padding: 0.5em;">#}
{#                        <h6>Nick: {{ comment.nick }}({{ comment.email }})</h6>#}
{#                        <hr/>#}
{#                        Comment:#}
{#                        <p>{{ comment.text }}</p>#}
{#                        {% if is_granted('COMMENT_DELETE', comment) %}#}
{#                            <hr/>#}
{#                            <a href="{{ url('comment_delete', {'id': comment.id}) }}">Usuń komentarz</a>#}
{#                        {% endif %}#}
{#                    </div>#}
{#                {% endfor %}#}
            </div>
        {% endfor %}

        <div class="navigation text-center">
            {{ pagerfanta(galleryImages) }}
        </div>
    {% else %}
        <div class="alert alert-primary" role="alert">
            {{ 'talav.gallery.message.empty_list'|trans }}
        </div>
    {% endif %}

    <a href="{{ url('talav_gallery_index') }}" class="btn btn-secondary">{{ 'talav.gallery.index.link'|trans }}</a>

    </div>
    <div class="col-md-4">
        ccc
    </div>
</div>
{% endblock %}
