{% extends '@TalavWeb/layouts/default.html.twig' %}

{% trans_default_domain 'TalavGalleryBundle' %}

{% block titre %}
    Galeria: {{ gallery.name }}
{% endblock %}

{% block body %}
    <style>
        .position-absolute {
            position: absolute!important;
        }
    </style>

    <!-- Title -->
    <div class="row">
        <div class="col-12 mb-4 mb-sm-5">
            <div class="d-sm-flex justify-content-between align-items-center">
                <h1 class="h3 mb-2 mb-sm-0">{{ gallery.name }}</h1>
                <div class="d-flex justify-content-end">
                    {% if is_granted('GALLERY_EDIT', gallery) %}
                        <a href="{{ url('talav_gallery_edit', {'id': gallery.id}) }}" class="btn btn-sm btn-outline-primary me-2"><i class="fas fa-edit fa-fw">&nbsp;</i>{{ 'talav.gallery.edit.link'|trans }}</a>
                    {% endif %}
                    {% if is_granted('IMAGE_CREATE') %}
                        <a href="{{ url('talav_gallery_image_create', {'id': gallery.id}) }}" class="btn btn-sm btn-outline-primary mb-0"><i class="fas fa-plus fa-fw">&nbsp;</i>{{ 'talav.gallery.image.create.link'|trans }}</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    <div class="row g-3">

        {% for image in galleryImages %}
        <!-- Photo item START -->
        <div class="col-6 col-lg-2 position-relative">
            <div class="position-absolute bottom-0 end-0">
                <!-- Dropdown START -->
                <div class="dropdown mb-2 me-3">
                    <a href="#" class="icon-sm bg-primary text-white rounded-circle" id="photoActionEdit" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="fas fa-pencil"></i>
                    </a>

                    <!-- Dropdown menu -->
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="photoActionEdit">
                        {% if is_granted('IMAGE_DELETE', image) %}
                        <li><a class="dropdown-item" href="#"><i class="fas fa-remove fa-fw pe-1"></i>Delete</a></li>
                        {% endif %}
                        {% if is_granted('COMMENT_LIST', image) %}
                        <li><a class="dropdown-item" href="#"><i class="fas fa-comment fa-fw pe-1"></i>View Comments</a></li>
                        {% endif %}
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="#"><i class="fas fa-flag fa-fw pe-1"></i>Report photo</a></li>
                    </ul>
                </div>
            </div>

            <!-- Dropdown END -->
            <a href="{{ asset(image.image.filePath) |imagine_filter('gallery_thumb') }}" data-gallery="image-popup" data-glightbox="description: .custom-desc2; descPosition: left;">
                <img class="rounded img-fluid" src="{{ asset(image.image.filePath) |imagine_filter('gallery_thumb') }}" alt="{{ image.title }}">
            </a>

            <div class="position-absolute top-0 bg-opacity-25">
                ssss
            </div>
        </div>
        <!-- Photo item END -->
        {% else %}
            <div class="alert alert-primary" role="alert">
                {{ 'talav.gallery.message.empty_list'|trans }}
            </div>
        {% endfor %}
    </div>

    <div class="row">
        <div class="col-12">
            {{ pagerfanta(galleryImages) }}
        </div>
    </div>

{% endblock %}
