{% extends '@TalavWeb/layouts/default.html.twig' %}

{% block title %}
    Utwórz obrazek
{% endblock %}

{% block body %}
    <h1>Upload Photo</h1>
    {{ form_start(form, {'attr': {'enctype': 'multipart/form-data'}}) }}
    {{ form_widget(form.title) }}
    {{ form_widget(form.description) }}
    {{ form_widget(form.image) }}
    <div class="form-group row float-sm-right">
        <button name="submit" value="Zapisz" class="btn btn-primary"></button>
    </div>
    {{ form_end(form) }}
{% endblock %}