{% extends '@TalavWeb/layouts/with_widget.html.twig' %}
{%- set status_bar = true -%}
{% block container_class 'container mt-n4' %}
{%- block content_container_class ' col-lg-8 col-xl-8 offset-xl-1' -%}
{%- block sidebar_container_class ' col-lg-4 col-xl-3' -%}
{%- block titre '' -%}
{% block sidebar %}
{#    {% include '@TalavUser/profile/_side_menu.html.twig' with {'user': app.user} %}#}
{% endblock %}
{% block title %}Друзья {{ user.username }}{% endblock %}
{#{% block breadcrumbs %}#}
{#    {{ wapinet_breadcrumbs({#}
{#        1: {'uri': path('wapinet_users'), 'title': 'Пользователи'},#}
{#        2: {'uri': path('wapinet_user_profile', {'username': user.username}), 'title': user.username}#}
{#    }) }}#}
{#{% endblock %}#}

{% block body %}

    <div class="card border">
        <!-- Card header START -->
        <div class="card-header border-bottom p-3">
            <!-- Search and select START -->
            <div class="row g-3 align-items-center justify-content-between">
                <!-- Search bar -->
                <div class="col-md-8">
                    {{ form_start(form, {'attr': {'class': 'rounded position-relative'}}) }}
                    {{ form_widget(form.username) }}
                    {{ form_widget(form.search) }}
{#                        <button class="btn bg-transparent border-0 px-2 py-0 position-absolute top-50 end-0 translate-middle-y" type="submit"><i class="fas fa-search fs-6 "></i></button>#}
                    {{ form_end(form) }}
                </div>
                <!-- Tab buttons -->
                <div class="col-md-3">
                    <!-- Tabs START -->
                    <ul class="list-inline mb-0 nav nav-pills nav-pill-dark-soft border-0 justify-content-end" id="pills-tab" role="tablist">
                        <!-- Grid tab -->
                        <li class="nav-item" role="presentation">
                            <a href="#nav-list-tab" class="nav-link mb-0 me-2 active" data-bs-toggle="tab" aria-selected="true" role="tab">
                                <i class="fas fa-fw fa-list-ul"></i>
                            </a>
                        </li>

                        <!-- List tab -->
                        <li class="nav-item" role="presentation">
                            <a href="#nav-grid-tab" class="nav-link mb-0" data-bs-toggle="tab" aria-selected="false" role="tab" tabindex="-1">
                                <i class="fas fa-fw fa-th-large"></i>
                            </a>
                        </li>
                    </ul>
                    <!-- Tabs end -->
                </div>
            </div>
            <!-- Search and select END -->
        </div>
        <!-- Card header END -->

        <!-- Card body START -->
        <div class="card-body py-3">
            <!-- Tabs content START -->
            <div class="tab-content py-0 my-0">

                <!-- Tabs content item START -->
                <div class="tab-pane fade active show" id="nav-list-tab" role="tabpanel">
                    <!-- Table START -->
                    <div class="table-responsive border-0">
                        <table class="table align-middle p-4 mb-0 table-hover">
                            <!-- Table head -->
                            <thead class="table-dark">
                            <tr>
                                <th scope="col" class="border-0 rounded-start">Username</th>
                                <th scope="col" class="border-0">Join Date</th>
                                <th scope="col" class="border-0">Posts</th>
                                <th scope="col" class="border-0">Friends</th>
{#                                <th scope="col" class="border-0">Payment</th>#}
                                <th scope="col" class="border-0 rounded-end">Action</th>
                            </tr>
                            </thead>

                            {% if members is defined %}

                            <!-- Table body START -->
                            <tbody class="border-top-0">

                            {% for member in members %}
                            <!-- Table row -->
                            <tr>
                                <!-- Table data -->
                                <td>
                                    <div class="d-flex align-items-center position-relative">
                                        <!-- Image -->
                                        <div class="avatar avatar-md">
                                            <img src="{% if member.user.avatar %}{{ media_thumb_reference(member.user.avatar, 'square_small') }}{% else %}{{ asset('images/avatar/male.png') }}{% endif %}" height="28" width="28" class="avatar-img rounded-circle border border-white border-2" alt="">
                                        </div>
                                        <div class="mb-0 ms-2">
                                            <!-- Title -->
                                            <h6 class="mb-0"><a href="#" class="stretched-link">{{ member.user.username }}</a></h6>
                                        </div>
                                    </div>
                                </td>

                                <!-- Table data -->
                                <td>{{ member.user.createdAt|format_date('medium') }}</td>

                                <!-- Table data -->
                                <td>{{ member.user.posts|length }}</td>

                                <!-- Table data -->
                                <td>{{ member.user.friends|length }}</td>

{#                                <!-- Table data -->#}
{#                                <td>#}
{#                                    <span class="badge bg-success bg-opacity-10 text-success mb-2">Paid</span>#}
{#                                </td>#}

                                <!-- Table data -->
                                <td>
                                    <div class="d-flex gap-2">
                                        <a href="#" class="btn btn-light btn-round mb-0" data-bs-toggle="tooltip" data-bs-placement="top" title="" data-bs-original-title="Message" aria-label="Message">
                                            <i class="fas fa-envelope"></i>
                                        </a>
                                        <a href="#" class="btn btn-light btn-round mb-0" data-bs-toggle="tooltip" data-bs-placement="top" title="" data-bs-original-title="Block" aria-label="Block">
                                            <i class="fas fa-ban"></i>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                            {% endfor %}

                            </tbody>
                            <!-- Table body END -->

                            {% endif %}
                        </table>
                    </div>
                    <!-- Table END -->
                </div>
                <!-- Tabs content item END -->

                <!-- Tabs content item START -->
                <div class="tab-pane fade" id="nav-grid-tab" role="tabpanel">
                    <div class="row g-4">

                        <!-- Card item START -->
                        <div class="col-md-6 col-xl-4">
                            <div class="card border p-2">
                                <div class="card-body">
                                    <div class="d-flex align-items-center justify-content-between">
                                        <!-- avatar -->
                                        <div class="avatar avatar-lg me-3 flex-shrink-0">
                                            <img class="avatar-img rounded-circle" src="assets/images/avatar/10.jpg" alt="">
                                        </div>
                                        <!-- Connections holder -->
                                        <div class="flex-grow-1 d-block">
                                            <h5 class="mb-1"><a href="#">Frances Guerrero</a></h5>
                                            <div class="small">Editor at Blogzine</div>
                                        </div>
                                    </div>

                                    <!-- Followers and Post -->
                                    <div class="d-sm-flex justify-content-sm-between mt-3">
                                        <!-- Followers -->
                                        <div class="d-flex text-start align-items-center mt-3">
                                            <div class="icon-md bg-light text-body rounded-circle flex-shrink-0">
                                                <i class="bi bi-people-fill fa-fw"></i>
                                            </div>
                                            <div class="ms-2">
                                                <h5 class="mb-0">5,354</h5>
                                                <h6 class="mb-0 fw-light">Followers</h6>
                                            </div>
                                        </div>

                                        <!-- Total post -->
                                        <div class="d-flex text-start align-items-center mt-3">
                                            <div class="icon-md bg-light text-body rounded-circle flex-shrink-0">
                                                <i class="bi bi-file-earmark-text-fill fa-fw"></i>
                                            </div>
                                            <div class="ms-2">
                                                <h5 class="mb-0">846</h5>
                                                <h6 class="mb-0 fw-light">Total Blogs</h6>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- Buttons -->
                                    <div class="d-sm-flex gap-2 mt-4">
                                        <a href="#" class="btn btn-primary-soft w-100">
                                            <i class="fab fa-facebook-messenger pe-2"></i> Message
                                        </a>
                                        <a href="#" class="btn btn-danger-soft w-100">
                                            <i class="fas fa-ban pe-2"></i> Block
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Card item END -->

                        <!-- Card item START -->
                        <div class="col-md-6 col-xl-4">
                            <div class="card border p-2">
                                <div class="card-body">
                                    <div class="d-flex align-items-center justify-content-between">
                                        <!-- avatar -->
                                        <div class="avatar avatar-lg me-3 flex-shrink-0">
                                            <img class="avatar-img rounded-circle" src="assets/images/avatar/01.jpg" alt="">
                                        </div>
                                        <!-- Connections holder -->
                                        <div class="flex-grow-1 d-block">
                                            <h5 class="mb-1"><a href="#">Carolyn Ortiz</a></h5>
                                            <div class="small">Editor at eduport</div>
                                        </div>
                                    </div>

                                    <!-- Followers and Post -->
                                    <div class="d-sm-flex justify-content-sm-between mt-3">
                                        <!-- Followers -->
                                        <div class="d-flex text-start align-items-center mt-3">
                                            <div class="icon-md bg-light text-body rounded-circle flex-shrink-0">
                                                <i class="bi bi-people-fill fa-fw"></i>
                                            </div>
                                            <div class="ms-2">
                                                <h5 class="mb-0">2,545</h5>
                                                <h6 class="mb-0 fw-light">Followers</h6>
                                            </div>
                                        </div>

                                        <!-- Total post -->
                                        <div class="d-flex text-start align-items-center mt-3">
                                            <div class="icon-md bg-light text-body rounded-circle flex-shrink-0">
                                                <i class="bi bi-file-earmark-text-fill fa-fw"></i>
                                            </div>
                                            <div class="ms-2">
                                                <h5 class="mb-0">586</h5>
                                                <h6 class="mb-0 fw-light">Total Blogs</h6>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- Buttons -->
                                    <div class="d-sm-flex gap-2 mt-4">
                                        <a href="#" class="btn btn-primary-soft w-100">
                                            <i class="fab fa-facebook-messenger pe-2"></i> Message
                                        </a>
                                        <a href="#" class="btn btn-danger-soft w-100">
                                            <i class="fas fa-ban pe-2"></i> Block
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Card item END -->

                        <!-- Card item START -->
                        <div class="col-md-6 col-xl-4">
                            <div class="card border p-2">
                                <div class="card-body">
                                    <div class="d-flex align-items-center justify-content-between">
                                        <!-- avatar -->
                                        <div class="avatar avatar-lg me-3 flex-shrink-0">
                                            <img class="avatar-img rounded-circle" src="assets/images/avatar/02.jpg" alt="">
                                        </div>
                                        <!-- Connections holder -->
                                        <div class="flex-grow-1 d-block">
                                            <h5 class="mb-1"><a href="#">Louis Ferguson</a></h5>
                                            <div class="small">Editor at folio</div>
                                        </div>
                                    </div>

                                    <!-- Followers and Post -->
                                    <div class="d-sm-flex justify-content-sm-between mt-3">
                                        <!-- Followers -->
                                        <div class="d-flex text-start align-items-center mt-3">
                                            <div class="icon-md bg-light text-body rounded-circle flex-shrink-0">
                                                <i class="bi bi-people-fill fa-fw"></i>
                                            </div>
                                            <div class="ms-2">
                                                <h5 class="mb-0">3,546</h5>
                                                <h6 class="mb-0 fw-light">Followers</h6>
                                            </div>
                                        </div>

                                        <!-- Total post -->
                                        <div class="d-flex text-start align-items-center mt-3">
                                            <div class="icon-md bg-light text-body rounded-circle flex-shrink-0">
                                                <i class="bi bi-file-earmark-text-fill fa-fw"></i>
                                            </div>
                                            <div class="ms-2">
                                                <h5 class="mb-0">786</h5>
                                                <h6 class="mb-0 fw-light">Total Blogs</h6>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- Buttons -->
                                    <div class="d-sm-flex gap-2 mt-4">
                                        <a href="#" class="btn btn-primary-soft w-100">
                                            <i class="fab fa-facebook-messenger pe-2"></i> Message
                                        </a>
                                        <a href="#" class="btn btn-danger-soft w-100">
                                            <i class="fas fa-ban pe-2"></i> Block
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Card item END -->

                        <!-- Card item START -->
                        <div class="col-md-6 col-xl-4">
                            <div class="card border p-2">
                                <div class="card-body">
                                    <div class="d-flex align-items-center justify-content-between">
                                        <!-- avatar -->
                                        <div class="avatar avatar-lg me-3 flex-shrink-0">
                                            <img class="avatar-img rounded-circle" src="assets/images/avatar/03.jpg" alt="">
                                        </div>
                                        <!-- Connections holder -->
                                        <div class="flex-grow-1 d-block">
                                            <h5 class="mb-1"><a href="#">Billy Vasquez</a></h5>
                                            <div class="small">Editor at Wizixo</div>
                                        </div>
                                    </div>

                                    <!-- Followers and Post -->
                                    <div class="d-sm-flex justify-content-sm-between mt-3">
                                        <!-- Followers -->
                                        <div class="d-flex text-start align-items-center mt-3">
                                            <div class="icon-md bg-light text-body rounded-circle flex-shrink-0">
                                                <i class="bi bi-people-fill fa-fw"></i>
                                            </div>
                                            <div class="ms-2">
                                                <h5 class="mb-0">6,586</h5>
                                                <h6 class="mb-0 fw-light">Followers</h6>
                                            </div>
                                        </div>

                                        <!-- Total post -->
                                        <div class="d-flex text-start align-items-center mt-3">
                                            <div class="icon-md bg-light text-body rounded-circle flex-shrink-0">
                                                <i class="bi bi-file-earmark-text-fill fa-fw"></i>
                                            </div>
                                            <div class="ms-2">
                                                <h5 class="mb-0">1,235</h5>
                                                <h6 class="mb-0 fw-light">Total Blogs</h6>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- Buttons -->
                                    <div class="d-sm-flex gap-2 mt-4">
                                        <a href="#" class="btn btn-primary-soft w-100">
                                            <i class="fab fa-facebook-messenger pe-2"></i> Message
                                        </a>
                                        <a href="#" class="btn btn-danger-soft w-100">
                                            <i class="fas fa-ban pe-2"></i> Block
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Card item END -->

                        <!-- Card item START -->
                        <div class="col-md-6 col-xl-4">
                            <div class="card border p-2">
                                <div class="card-body">
                                    <div class="d-flex align-items-center justify-content-between">
                                        <!-- avatar -->
                                        <div class="avatar avatar-lg me-3 flex-shrink-0">
                                            <img class="avatar-img rounded-circle" src="assets/images/avatar/04.jpg" alt="">
                                        </div>
                                        <!-- Connections holder -->
                                        <div class="flex-grow-1 d-block">
                                            <h5 class="mb-1"><a href="#">Samuel Bishop</a></h5>
                                            <div class="small">Editor at Realty</div>
                                        </div>
                                    </div>

                                    <!-- Followers and Post -->
                                    <div class="d-sm-flex justify-content-sm-between mt-3">
                                        <!-- Followers -->
                                        <div class="d-flex text-start align-items-center mt-3">
                                            <div class="icon-md bg-light text-body rounded-circle flex-shrink-0">
                                                <i class="bi bi-people-fill fa-fw"></i>
                                            </div>
                                            <div class="ms-2">
                                                <h5 class="mb-0">996</h5>
                                                <h6 class="mb-0 fw-light">Followers</h6>
                                            </div>
                                        </div>

                                        <!-- Total post -->
                                        <div class="d-flex text-start align-items-center mt-3">
                                            <div class="icon-md bg-light text-body rounded-circle flex-shrink-0">
                                                <i class="bi bi-file-earmark-text-fill fa-fw"></i>
                                            </div>
                                            <div class="ms-2">
                                                <h5 class="mb-0">156</h5>
                                                <h6 class="mb-0 fw-light">Total Blogs</h6>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- Buttons -->
                                    <div class="d-sm-flex gap-2 mt-4">
                                        <a href="#" class="btn btn-primary-soft w-100">
                                            <i class="fab fa-facebook-messenger pe-2"></i> Message
                                        </a>
                                        <a href="#" class="btn btn-danger-soft w-100">
                                            <i class="fas fa-ban pe-2"></i> Block
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Card item END -->

                        <!-- Card item START -->
                        <div class="col-md-6 col-xl-4">
                            <div class="card border p-2">
                                <div class="card-body">
                                    <div class="d-flex align-items-center justify-content-between">
                                        <!-- avatar -->
                                        <div class="avatar avatar-lg me-3 flex-shrink-0">
                                            <img class="avatar-img rounded-circle" src="assets/images/avatar/06.jpg" alt="">
                                        </div>
                                        <!-- Connections holder -->
                                        <div class="flex-grow-1 d-block">
                                            <h5 class="mb-1"><a href="#">Amanda Reed</a></h5>
                                            <div class="small">Editor at Blogzine</div>
                                        </div>
                                    </div>

                                    <!-- Followers and Post -->
                                    <div class="d-sm-flex justify-content-sm-between mt-3">
                                        <!-- Followers -->
                                        <div class="d-flex text-start align-items-center mt-3">
                                            <div class="icon-md bg-light text-body rounded-circle flex-shrink-0">
                                                <i class="bi bi-people-fill fa-fw"></i>
                                            </div>
                                            <div class="ms-2">
                                                <h5 class="mb-0">2,586</h5>
                                                <h6 class="mb-0 fw-light">Followers</h6>
                                            </div>
                                        </div>

                                        <!-- Total post -->
                                        <div class="d-flex text-start align-items-center mt-3">
                                            <div class="icon-md bg-light text-body rounded-circle flex-shrink-0">
                                                <i class="bi bi-file-earmark-text-fill fa-fw"></i>
                                            </div>
                                            <div class="ms-2">
                                                <h5 class="mb-0">665</h5>
                                                <h6 class="mb-0 fw-light">Total Blogs</h6>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- Buttons -->
                                    <div class="d-sm-flex gap-2 mt-4">
                                        <a href="#" class="btn btn-primary-soft w-100">
                                            <i class="fab fa-facebook-messenger pe-2"></i> Message
                                        </a>
                                        <a href="#" class="btn btn-danger-soft w-100">
                                            <i class="fas fa-ban pe-2"></i> Block
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Card item END -->

                        <!-- Card item START -->
                        <div class="col-md-6 col-xl-4">
                            <div class="card border p-2">
                                <div class="card-body">
                                    <div class="d-flex align-items-center justify-content-between">
                                        <!-- avatar -->
                                        <div class="avatar avatar-lg me-3 flex-shrink-0">
                                            <img class="avatar-img rounded-circle" src="assets/images/avatar/07.jpg" alt="">
                                        </div>
                                        <!-- Connections holder -->
                                        <div class="flex-grow-1 d-block">
                                            <h5 class="mb-1"><a href="#">Lori Stevens</a></h5>
                                            <div class="small">Editor at Eduport</div>
                                        </div>
                                    </div>

                                    <!-- Followers and Post -->
                                    <div class="d-sm-flex justify-content-sm-between mt-3">
                                        <!-- Followers -->
                                        <div class="d-flex text-start align-items-center mt-3">
                                            <div class="icon-md bg-light text-body rounded-circle flex-shrink-0">
                                                <i class="bi bi-people-fill fa-fw"></i>
                                            </div>
                                            <div class="ms-2">
                                                <h5 class="mb-0">1,586</h5>
                                                <h6 class="mb-0 fw-light">Followers</h6>
                                            </div>
                                        </div>

                                        <!-- Total post -->
                                        <div class="d-flex text-start align-items-center mt-3">
                                            <div class="icon-md bg-light text-body rounded-circle flex-shrink-0">
                                                <i class="bi bi-file-earmark-text-fill fa-fw"></i>
                                            </div>
                                            <div class="ms-2">
                                                <h5 class="mb-0">458</h5>
                                                <h6 class="mb-0 fw-light">Total Blogs</h6>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- Buttons -->
                                    <div class="d-sm-flex gap-2 mt-4">
                                        <a href="#" class="btn btn-primary-soft w-100">
                                            <i class="fab fa-facebook-messenger pe-2"></i> Message
                                        </a>
                                        <a href="#" class="btn btn-danger-soft w-100">
                                            <i class="fas fa-ban pe-2"></i> Block
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Card item END -->

                        <!-- Card item START -->
                        <div class="col-md-6 col-xl-4">
                            <div class="card border p-2">
                                <div class="card-body">
                                    <div class="d-flex align-items-center justify-content-between">
                                        <!-- avatar -->
                                        <div class="avatar avatar-lg me-3 flex-shrink-0">
                                            <img class="avatar-img rounded-circle" src="assets/images/avatar/12.jpg" alt="">
                                        </div>
                                        <!-- Connections holder -->
                                        <div class="flex-grow-1 d-block">
                                            <h5 class="mb-1"><a href="#">Jacqueline Miller</a></h5>
                                            <div class="small">Editor at Blogzine</div>
                                        </div>
                                    </div>

                                    <!-- Followers and Post -->
                                    <div class="d-sm-flex justify-content-sm-between mt-3">
                                        <!-- Followers -->
                                        <div class="d-flex text-start align-items-center mt-3">
                                            <div class="icon-md bg-light text-body rounded-circle flex-shrink-0">
                                                <i class="bi bi-people-fill fa-fw"></i>
                                            </div>
                                            <div class="ms-2">
                                                <h5 class="mb-0">9,586</h5>
                                                <h6 class="mb-0 fw-light">Followers</h6>
                                            </div>
                                        </div>

                                        <!-- Total post -->
                                        <div class="d-flex text-start align-items-center mt-3">
                                            <div class="icon-md bg-light text-body rounded-circle flex-shrink-0">
                                                <i class="bi bi-file-earmark-text-fill fa-fw"></i>
                                            </div>
                                            <div class="ms-2">
                                                <h5 class="mb-0">2,586</h5>
                                                <h6 class="mb-0 fw-light">Total Blogs</h6>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- Buttons -->
                                    <div class="d-sm-flex gap-2 mt-4">
                                        <a href="#" class="btn btn-primary-soft w-100">
                                            <i class="fab fa-facebook-messenger pe-2"></i> Message
                                        </a>
                                        <a href="#" class="btn btn-danger-soft w-100">
                                            <i class="fas fa-ban pe-2"></i> Block
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Card item END -->

                    </div> <!-- Row END -->
                </div>
                <!-- Tabs content item END -->

            </div>
            <!-- Tabs content END -->
        </div>
        <!-- Card body END -->

        <!-- Card Footer START -->
        <div class="card-footer p-3">
            <!-- Pagination START -->
            <div class="d-sm-flex justify-content-sm-between align-items-sm-center">
                <!-- Content -->
                <p class="mb-sm-0 text-center text-sm-start">Showing 1 to 8 of 20 entries</p>
                <!-- Pagination -->
                <nav class="mb-sm-0 d-flex justify-content-center" aria-label="navigation">
                    <ul class="pagination pagination-sm pagination-bordered mb-0">
                        <li class="page-item disabled">
                            <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Prev</a>
                        </li>
                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                        <li class="page-item active"><a class="page-link" href="#">2</a></li>
                        <li class="page-item disabled"><a class="page-link" href="#">..</a></li>
                        <li class="page-item"><a class="page-link" href="#">15</a></li>
                        <li class="page-item">
                            <a class="page-link" href="#">Next</a>
                        </li>
                    </ul>
                </nav>
            </div>
            <!-- Pagination END -->
        </div>
        <!-- Card Footer END -->
    </div>

    <div class="pagerfanta">
        {#        {{ pagerfanta(pagerfanta) }}#}
    </div>

{#    <script type="text/javascript">#}
{#        // $(document).ready(function () {#}
{#        //     $('#tab-link-4').tab('show');#}
{#        // });#}
{#	    (function (jQuery) {#}
{#            $('#tab-link-4').tab('show');#}
{#		});#}
{#    </script>#}
{% endblock body %}

{% block javascripts %}
{{ parent() }}
{#    {{- asset_js('js/application/tab_remember.js') }}#}
{#    {{- asset_js('js/application/register_events.js') }}#}
{% endblock %}
