{# horizontal toolbar #}
{% from '@TalavWeb/macros/_icons.html.twig' import icon, dropdownSeparator, dropdownItem, navItem %}
{# user menu #}
{#{% from '@TalavWeb/macros/_icons.html.twig' import icon, dropdownSeparator, dropdownItem %}#}
{# horizontal navigation #}
{%- set navbar_class = navbar_class|default('mb-4') -%}
{%- set display_style = sidebar_hide ? 'flex' : 'none' -%}
<nav id="navigation" class="navbar navbar-horizontal navbar-expand-lg bg-body-tertiary border-bottom ps-2 {{ navbar_class }}" style="display: {{ display_style }}">
    <div class="container">
        <button class="btn btn-outline-secondary rounded-circle show-sidebar py-0 px-2 mt-0" title="{{ 'index.sidebar_show'|trans }}">
            <i class="fa-solid fa-angle-right"></i>
        </button>
        <a class="navbar-brand nav-sidebar-horizontal ms-3" href="{{ path('homepage') }}" title="{{ 'index.title_help'|trans }}">
            {{- icon('home') -}}
        </a>
        <button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbar-horizontal" aria-controls="navbarContent" aria-expanded="false" aria-label="{{ 'index.toggle_navigation'|trans }}">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse" id="navbar-horizontal">
            <ul class="navbar-nav me-auto">
                {{ include('@TalavWeb/navigation/horizontal/navigation_gallery.html.twig') }}
                {#                {% if is_granted_calculation -%}#}
{#                    {{ navItem(path('calculation_table'), 'calculation.list.title', ICON_CALCULATION) }}#}
{#                {% endif %}#}
{#                {% if is_granted_data -%}#}
{#                   {{ include('navigation/horizontal/navigation_data.html.twig') }}#}
{#                {% endif %}#}
{#                {% if is_granted_calculation %}#}
{#                    {{ include('navigation/horizontal/navigation_chart.html.twig') }}#}
{#                {% endif %}#}
{#                {% if is_granted_data or is_admin %}#}
{#                    {{ include('navigation/horizontal/navigation_tools.html.twig') }}#}
{#                {% endif %}#}
{#                {% if is_admin -%}#}
{#                    {{ include('navigation/horizontal/navigation_admin.html.twig') }}#}
{#                {% endif %}#}
            </ul>
            <ul class="navbar-nav">
{#                {% if is_granted_data and show_navigation_search ?? false -%}#}
{#                    {{ include('@TalavWeb/navigation/horizontal/navigation_search.html.twig') }}#}
{#                {% endif %}#}
                {{ include('@TalavWeb/navigation/horizontal/navigation_theme.html.twig') }}
                {% if is_remembered -%}
                    {{ include('@TalavWeb/navigation/horizontal/navigation_user.html.twig') }}
                {% else %}
                    {{ navItem(path('talav_user_login'), 'index.login', 'fas fa-sign-in fa-fw me-2', 'TalavWebBundle') }}
                    {{ navItem(path('talav_user_register'), 'index.register', 'fas fa-user-plus fa-fw me-2', 'TalavWebBundle') }}
                {% endif %}
            </ul>
        </div>

        {% if is_remembered %}
        <div class="navbar-nav dropdown d-block order-lg-3 ms-4">
            <button role="button" class="d-flex nav-link p-0 align-items-center justify-content-center" data-bs-toggle="dropdown">
                <img src="{% if app.user.avatar %}{{ media_thumb_reference(app.user.avatar, 'square_small') }}{% else %}{{ asset('images/avatar.png') }}{% endif %}" class="rounded-circle" width="35" alt="Avatar">
                <div class="d-none d-sm-block ps-2 mb-1">
{#                    <div class="fs-xs lh-1 opacity-60">Hello,</div>#}
                    <div class="nav-link dropdown-toggle">{{ app.user.username }}&nbsp;</div>
                </div>
            </button>
            <ul class="dropdown-menu dropdown-menu-end my-1" style="width: 14rem;">
                <li>{{ dropdownItem(path('user_profile_edit'), 'profile.edit.title', 'user-gear fa-fw me-2', 'TalavUserBundle') }}</li>
                <li>{{ dropdownItem(path('user_profile_change_password'), 'profile.change_password.title', 'unlock fa-fw me-2', 'TalavUserBundle') }}</li>
                <li class="dropdown-divider"></li>
                <li>{{ dropdownItem(path('profile_friendship_index', {'username': app.user.username|slug}), 'talav.profile.friends.title', 'user-friends fa-fw me-2', 'TalavProfileBundle') }}</li>
                <li class="dropdown-divider"></li>
                <li>{{ dropdownItem(path('talav_user_logout'), 'index.logout', 'sign-out-alt fa-fw me-2', 'TalavWebBundle') }}</li>
            </ul>
        </div>
        {% endif %}

    </div>
</nav>
