{% trans_default_domain 'TalavUserBundle' %}
{# user menu #}
{% from '@TalavWeb/macros/_icons.html.twig' import icon, dropdownSeparator, dropdownItem %}
<li class="nav-item dropdown">
    <button class="nav-link dropdown-toggle" id="userDropdown" data-bs-toggle="dropdown" aria-expanded="false">
        {% apply spaceless %}
{#            {% set image = media_thumb(app.user.avatar, 'square_small', {'class': 'avatar rounded-circle me-2', 'width': '28', 'height': '28'}) %}#}
            {% set image =  app.user.avatar ? media_thumb(app.user.avatar, 'square_small', {'class': 'avatar rounded-circle me-2', 'width': '28', 'height': '28'}) : null  %}
            {% if image %}
                {{ image|raw }}&nbsp;{{ app.user.userIdentifier }}
            {% else -%}
                {{ icon('user fa-lg far') }}&nbsp;{{ app.user.userIdentifier }}
            {% endif -%}
        {% endapply %}
    </button>
    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="userDropdown">
        <li>{{ dropdownItem(path('user_profile_view'), 'profile.view.title', 'user fa-fw me-2', 'TalavUserBundle') }}</li>
        <li>{{ dropdownItem(path('user_profile_edit'), 'profile.edit.title', 'user-gear fa-fw me-2', 'TalavUserBundle') }}</li>
        <li>{{ dropdownItem(path('user_profile_change_password'), 'profile.change_password.title', 'unlock fa-fw me-2', 'TalavUserBundle') }}</li>
        <li>{{ dropdownSeparator() }}</li>
        <li>{{ dropdownItem(path('user_relation_relations', {'username': app.user.username|slug}), 'talav.profile.friends.title', 'user-friends fa-fw me-2', 'TalavProfileBundle') }}</li>
        <li>{{ dropdownItem(path('profile_friendship_index', {'username': app.user.username|slug}), 'talav.profile.friends.title', 'user-friends fa-fw me-2', 'TalavProfileBundle') }}</li>
        <li>{{ dropdownSeparator() }}</li>
        <li>{{ dropdownItem(path('talav_user_logout'), 'index.logout', 'sign-out-alt fa-fw me-2', 'TalavWebBundle') }}</li>
{#        <li>{{ dropdownItem(path('user_parameters'), 'user.parameters.title', 'user-gear') }}</li>#}
{#        {% if is_previous_admin -%}#}
{#            <li>{{ dropdownSeparator() }}</li>#}
{#            <li>{{ dropdownItem(impersonation_exit_path(path('user_table')), 'user.switch.exit.title', 'user-slash') }}</li>#}
{#        {% endif %}#}
{#        {% if is_env_dev -%}#}
{#            <li>{{ dropdownSeparator() }}</li>#}
{#            <li>{{ dropdownItem(link_prod, 'environment.switch', 'location-arrow', null, {'%name%': 'environment.prod'|trans}) }}</li>#}
{#        {% elseif is_env_prod or is_env_local -%}#}
{#            <li>{{ dropdownSeparator() }}</li>#}
{#            <li>{{ dropdownItem(link_dev, 'environment.switch', 'location-arrow', null, {'%name%': 'environment.dev'|trans}) }}</li>#}
{#        {% endif %}#}
{#        <li>{{ dropdownSeparator() }}</li>#}
{#        {% if is_granted_data %}#}
{#            <li>{{ dropdownItem(path('site_map'), 'index.menu_site_map', 'sitemap') }}</li>#}
{#        {% endif %}#}
{#        <li>{{ dropdownItem(path('user_comment'), 'user.comment.title', 'envelope far') }}</li>#}
{#        {% if is_env_dev %}#}
{#            <li>{{ dropdownItem(path('help'), 'help.title', 'question-circle') }}</li>#}
{#        {% endif %}#}
{#        {% if not status_bar %}#}
{#            <li>{{ dropdownSeparator() }}</li>#}
{#            <li>{{ dropdownItem(path('about'), 'index.menu_info', 'info-circle', null, {'%app_name%': app_name}) }}</li>#}
{#        {% endif %}#}
    </ul>
</li>
