{#{% import 'macros.twig' as macros %}#}
{% set owned_relations = friendship.profile == app.user.profile %}
<!-- Connections Item -->
<div class="row row-cols-xl-3 align-items-lg-center border-bottom g-4 px-2 py-4">
    <!-- Data item -->
    <div class="col">
        <small class="d-block d-lg-none">Friend:</small>
        <div class="d-flex align-items-center">
            <!-- Avatar -->
            <div class="avatar avatar-xs flex-shrink-0">
                <img class="avatar-img rounded-circle" src="{% if friendship.friend.user.avatar %}{{ media_thumb_reference(friendship.friend.user.avatar, 'square_small') }}{% else %}{{ asset('images/avatar.png') }}{% endif %}" height="28" width="28" alt="avatar">
            </div>
            <!-- Info -->
            <div class="ms-2">
                <h6 class="mb-0 fw-light"><a href="{{ path('user_profile_view', {'username': friendship.friend.user.username|slug}) }}">{{ friendship.friend.user.username }}</a></h6>
            </div>
        </div>
    </div>

    <!-- Data item -->
    <div class="col">
        <small class="d-block d-lg-none">Friends since:</small>
        <h6 class="mb-0 fw-normal">{{ friendship.updatedAt|format_date('medium') }}</h6>
    </div>

    <!-- Data item -->
    <div class="col">
        <a href="{{ path('profile_friendship_delete', {'username': friendship.friend.user.username}) }}" class="btn btn-danger btn-sm mb-0 me-2">Unfriend</a>
    </div>
</div>
