{% extends '@TalavWeb/layouts/with_widget.html.twig' %}
{%- set status_bar = true -%}
{% block container_class 'container mt-n4' %}
{%- block content_container_class ' col-lg-8 col-xl-8 offset-xl-1' -%}
{%- block sidebar_container_class ' col-lg-4 col-xl-3' -%}
{%- block titre '' -%}
{% block header %}
    {% include '@TalavUser/profile/_tabs.html.twig' with {'user': app.user} %}
{% endblock %}
{% block sidebar %}
    {% include '@TalavUser/profile/_side_menu.html.twig' with {'user': app.user} %}
{% endblock %}
{% block title %}Друзья {{ user.username }}{% endblock %}
{#{% block breadcrumbs %}#}
{#    {{ wapinet_breadcrumbs({#}
{#        1: {'uri': path('wapinet_users'), 'title': 'Пользователи'},#}
{#        2: {'uri': path('wapinet_user_profile', {'username': user.username}), 'title': user.username}#}
{#    }) }}#}
{#{% endblock %}#}

{% block body %}
{#    <h1 class="h2 text-center text-sm-start mb-4">Property offers</h1>#}
{#    <!-- Nav tabs + Sorting-->#}
{#    <div class="d-flex flex-column flex-sm-row align-items-center justify-content-between mb-4">#}
{#        <ul class="nav nav-tabs flex-nowrap mb-sm-0" role="tablist">#}
{#            <li class="nav-item"><a class="nav-link active" data-bs-toggle="tab" href="#tab-2-1">My Friends</a></li>#}
{#            <li class="nav-item"><a class="nav-link" data-bs-toggle="tab" href="#tab-2-2">Incoming Requests</a></li>#}
{#            <li class="nav-item"><a class="nav-link" data-bs-toggle="tab" href="#tab-2-3">Outgoing Requests</a></li>#}
{#            <li class="nav-item"><a class="nav-link" data-bs-toggle="tab" href="#tab-2-4">Search Friends</a></li>#}
{#        </ul>#}
{#        <div class="d-flex align-items-center ms-sm-4">#}
{#            <label class="fs-sm me-2 pe-1 text-nowrap" for="sortby"><i class="fi-arrows-sort text-muted mt-n1 me-2"></i>Sort by:</label>#}
{#            <select class="form-select form-select-sm" id="sortby">#}
{#                <option>Newest</option>#}
{#                <option>Popularity</option>#}
{#                <option>Low - High Price</option>#}
{#                <option>High - Low Price</option>#}
{#                <option>High rating</option>#}
{#                <option>Average Rating</option>#}
{#            </select>#}
{#        </div>#}
{#    </div>#}


    <!-- Author list title START -->
{#    <div class="row g-4 pb-4">#}
{#        <div class="col-12">#}
{#            <div class="d-sm-flex justify-content-between align-items-center">#}
{#                <h1 class="mb-sm-0 h2">Galleries</h1>#}
{#                {% if is_granted('GALLERY_CREATE') %}#}
{#                    <a href="{{ url('talav_gallery_create') }}" class="btn btn-sm btn-primary mb-0"><i class="fas fa-plus fa-fw">&nbsp;</i>{{ 'talav.gallery.create.link'|trans }}</a>#}
{#                {% endif %}#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
    <!-- Author list title START -->

    <ul class="nav nav-tabs nav-justified mb-4" id="friendship-tabs">
        <li class="nav-item"><a class="nav-link active" data-bs-toggle="tab" href="#tab1" id="tab-link-1">Friends</a></li>
{#        {% if selfProfile %}#}
            <li class="nav-item"><a class="nav-link" data-bs-toggle="tab" href="#tab2" id="tab-link-2">Incoming Requests</a></li>
            <li class="nav-item"><a class="nav-link" data-bs-toggle="tab" href="#tab3" id="tab-link-3">Outgoing Requests</a></li>
{#        {% endif %}#}
        <li class="nav-item"><a class="nav-link" data-bs-toggle="tab" href="#tab4" id="tab-link-4">Search Friends</a></li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane show active" id="tab1">
            <div class="bg-body-secondary rounded p-3 d-none d-lg-block">
                <div class="row row-cols-3 g-4">
                    <div class="col"><h6 class="fw-medium mb-0">{{ 'User' }}</h6></div>
                    <div class="col"><h6 class="fw-medium mb-0">{{ 'Date' }}</h6></div>
                    <div class="col"><h6 class="fw-medium mb-0">{{ 'Action' }}</h6></div>
                </div>
            </div>
            {% for friendship in  user.profile.friendships %}
                {% include '@TalavProfile/friendship/_friendship.html.twig' with {friendship: friendship} %}
            {% else %}
                <div class="row row-cols-xl-1 align-items-lg-center border-bottom g-4 px-2 py-4">
                    <div class="col text-center">No records found.</div>
                </div>
            {% endfor %}
        </div>
        <div class="tab-pane" id="tab2">
            <div class="bg-body-secondary rounded p-3 d-none d-lg-block">
                <div class="row row-cols-3 g-4">
                    <div class="col"><h6 class="fw-medium mb-0">{{ 'User' }}</h6></div>
                    <div class="col"><h6 class="fw-medium mb-0">{{ 'Date' }}</h6></div>
                    <div class="col"><h6 class="fw-medium mb-0">{{ 'Action' }}</h6></div>
                </div>
            </div>
            {% for request in user.profile.requestsMadeToProfile %}
                {% include '@TalavProfile/friendship/_incoming.html.twig' with {request: request} %}
            {% else %}
            <div class="row row-cols-xl-1 align-items-lg-center border-bottom g-4 px-2 py-4">
                <div class="col text-center">No records found.</div>
            </div>
            {% endfor %}
        </div>
        <div class="tab-pane" id="tab3">
            <div class="bg-body-secondary rounded p-3 d-none d-lg-block">
                <div class="row row-cols-3 g-4">
                    <div class="col"><h6 class="fw-medium mb-0">{{ 'User' }}</h6></div>
                    <div class="col"><h6 class="fw-medium mb-0">{{ 'Date' }}</h6></div>
                    <div class="col"><h6 class="fw-medium mb-0">{{ 'Action' }}</h6></div>
                </div>
            </div>
            {% for request in user.profile.requestsMadeByProfile %}
                {% include '@TalavProfile/friendship/_outgoing.html.twig' with {request: request} %}
            {% else %}
                <div class="row row-cols-xl-1 align-items-lg-center border-bottom g-4 px-2 py-4">
                    <div class="col text-center">No records found.</div>
                </div>
            {% endfor %}
        </div>
        <div class="tab-pane" id="tab4">
            {{ form(searchForm) }}
        </div>
    </div>

    <div class="pagerfanta">
        {#        {{ pagerfanta(pagerfanta) }}#}
    </div>

{#    <script type="text/javascript">#}
{#        // $(document).ready(function () {#}
{#        //     $('#tab-link-4').tab('show');#}
{#        // });#}
{#	    (function (jQuery) {#}
{#            $('#tab-link-4').tab('show');#}
{#		});#}
{#    </script>#}
{% endblock body %}

{% block javascripts %}
{{ parent() }}
{#    {{- asset_js('js/application/tab_remember.js') }}#}
{#    {{- asset_js('js/application/register_events.js') }}#}
{% endblock %}
